In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [2]:
df = pd.read_csv(r"C:\Users\goura\Downloads\hiring.csv")
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [5]:
print(df.columns)

Index(['experience', 'test_score(out of 10)', 'interview_score(out of 10)',
       'salary($)'],
      dtype='object')

In [6]:
import math

In [7]:
median_score = math.floor(df['test_score(out of 10)'].median())
print(median_score)

8

In [9]:
# Fill missing values in the 'experience' column with the median value
df['experience'] = df['experience'].str.replace(r'\D', '', regex=True)

# Convert the experience column to numeric (after removing non-numeric characters)
df['experience'] = pd.to_numeric(df['experience'], errors='coerce')

# Fill NaN values with the median of the 'experience' column
df['experience'].fillna(df['experience'].median(), inplace=True)

# Now calculate the median of the experience column
median_experience = df['experience'].median()
print(median_experience)

nan

C:\Users\goura\AppData\Roaming\Python\Python312\site-packages\numpy\lib\_nanfunctions_impl.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
C:\Users\goura\AppData\Local\Temp\ipykernel_3712\2115430645.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['experience'].fillna(df['experience'].median(), inplace=True)
C:\Users\goura\AppData\Roaming\Python\Python312\site-packages\numpy\lib\_nanfunctions_impl.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)